@font-face {
    font-family: 'Nunito Bold';
    src: url('/fonts/Nunito/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'Nunito SemiBold';
    src: url('/fonts/Nunito/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: 'SF Rounded Medium';
    src: url('/fonts/SFRounded/SF-Pro-Rounded-Medium.ttf');
}

@font-face {
    font-family: 'SF Rounded Regular';
    src: url('/fonts/SFRounded/SF-Pro-Rounded-Regular.ttf');
}